@tailwind base;
@tailwind components;
@tailwind utilities;


/* Scrollbar Width */
.cus-scroll::-webkit-scrollbar {
  width: 2px; /* Set the width for vertical scrollbar */
  height: 6px; /* Set the height for horizontal scrollbar */
}

/* Scrollbar Track */
.cus-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
  background-color: #f1f1f1; /* Optional: light background for track */
}

/* Scrollbar Handle */
.cus-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #D3D3D3, #fff); 
  border-radius: 10px;
}

/* Hover Effect for Scrollbar Handle */
.cus-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #746C70, #979797); 
}


