<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Three.js</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        
    </style>
</head>

<body>
    <h1 class="flex justify-center items-center">Hello! Three.js</h1>
	
    <script type="module" src="/page/js/three/script-model"></script>
    <!-- <div>Open three page model http://localhost:3000/page/three</div> -->

</body>
</html>